-
	var projects = [
		{
			backGround: '../assets/img/projects/project-1.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		},{
			backGround: '../assets/img/projects/project-2.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		},{
			backGround: '../assets/img/projects/project-3.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		},{
			backGround: '../assets/img/projects/project-4.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		},{
			backGround: '../assets/img/projects/project-5.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		},{
			backGround: '../assets/img/projects/project-6.jpg',
			projectName: 'wyre',
			shortDescr: 'Lorem ipsum dolor sit amet',
			buttonText: 'showe more',
			headerColor: '#000',
			fullDescr: 'Lorem ipsum dolor sit amet. 2',
			companyName: 'wyre',
			companyType: 'Its amazing how few small businesses have an accurate idea of the daily, weekly and monthly numbers.',
			companyLogo: 'project-2/company_logo.jpg',
			firstTextBlockName: 'highlights',
			firstTextBlockHeader: 'Designed with deliberate focus',
			firstTextBlockText: 'We designed the new American Express Open App with a simple set of features to accomplish certain targets: simplicity offers an authentic foundation on which to connect digital strategy and user experience; minimalism is the most powerful form to deliver value to the small business owner; we wanted to help SBOs cut through the weeds and save time to concentrate on what matters. Business.',
			imgSmall: '../assets/img/project-2/imgSmall.jpg',
			imgBig: '../assets/img/project-2/imgBig.jpg',
			secondTextBlockName: 'branding',
			secondTextBlockHeader: 'Elevating product presentation',
			secondTextBlockText: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockHeader: 'The eCommerce product',
			theerdTextBlockText1: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText2: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			theerdTextBlockText3: 'What does it mean to focus on the customer experience of eCommerce? One contributing factor is how we present the product throughout the user journey from browsing to purchase. The eCommerce product listing pages and product detail pages are designed to provide context and motivation through original creative content, such as videos, trends, collection call-outs, and branded imagery.',
			mainGalleryImg: 'project-2/mainGallery.jpg',
			galleryName: 'Gallery',
			galleryLeftOne: 'project-2/galleryLeftOne.jpg',
			galleryLeftTwo: 'project-2/galleryLeftTwo.jpg',
			galleryLeftThree: 'project-2/galleryLeftThree.jpg',
			galleryRightOne: 'project-2/galleryRightOne.jpg',
			galleryRightTwo: 'project-2/galleryRightTwo.jpg',
			galleryRightThree: 'project-2/galleryRightThree.jpg',
			nextProjectName: 'project-3',
			nextProjectType: 'Branding and ecomerce website design. Create perfect solution.',
			nextProjectImage: '../assets/img/project-2/nextProject.jpg'
		}
	]

.main-screen
	header.header
		a(href='http://155.158.138.222:3000/')
			img.logo(src='assets/img/logo.png')
		+menu('menu', ['projects', 'reviews', 'about', 'contact'], 0)
		a.menu__icon(href='#')
			span
	.panels
		each item in projects
			.panel(style=`background-image: url(${item.backGround})` data-href='.panels')
				.panel__link
					.panel__content
						h3.project__name= item.projectName
						p.project__descr= item.shortDescr
						p.project__btn= item.buttonText
				.panel__content-open
					.open-wrapper
						.panel__open-back
							a.btn.btn-back(href='#') Back to all
							.projectName-wrapper(style=`color: ${item.headerColor}`)
								h3= item.projectName
								p= item.shortDescr
						.panel__open-next
							a.btn.btn-next(href='#') Next project


.project-description-wrapper
	.project-description
		ul.projects-full
			each item in projects
				li.project__content
					.project-wrapper
						.project__description
							.company-info
								.company-name
									p= item.companyName
								.company-type
									p= item.companyType
							img.project__logo(src=`/assets/img/${item.companyLogo}` alt='company logo')
							.creative-process
								.textBlock.textBlock__first
									.textBlock-name
										p= item.firstTextBlockName
									.textBlock-descr
										h3.textBlock-header= item.firstTextBlockHeader
										p.textBlock-text=item.firstTextBlockText
								.imgBlock
									.imgBlock__small(style=`background-image: url(${item.imgSmall})`)
									.imgBlock__big(style=`background-image: url(${item.imgBig})`)
								.textBlock.textBlock__second
									.textBlock-name
										p= item.secondTextBlockName
									.textBlock-descr
										h3.textBlock-header= item.secondTextBlockHeader
										p.textBlock-text=item.secondTextBlockText
										.textBlock-read-more
											h3.textBlock-header= item.theerdTextBlockHeader
											p.textBlock-text=item.theerdTextBlockText1
											.read-more-wrapper
												p.textBlock-text=item.theerdTextBlockText2
												p.textBlock-text=item.theerdTextBlockText3
											a.btn.read-more Read the story
						.main-gallery-img
							img(src=`/assets/img/${item.mainGalleryImg}` alt='')
						.project__gallery
							.gallery__column.gallery__column-1
								.gallery__column-name= item.galleryName
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryLeftOne}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryLeftTwo}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryLeftThree}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryLeftTwo}` alt='')
							.gallery__column.gallery__column-2
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryRightOne}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryRightTwo}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryRightThree}` alt='')
								.galleryImageContainer
									img(src=`/assets/img/${item.galleryRightTwo}` alt='')
					.nextProject
						.nextProject__text
							.nextProject__back
								a.btn.btn-back(href='#') Back to all
							.nextProject__next
								h3= item.nextProjectName
								p= item.nextProjectType
								a.btn.btn-next(href='#') Next project
						.nextProject__img(style=`background-image: url(${item.nextProjectImage})`)
