- var menu = ['projects', 'reviews', 'about', 'contact']
-
	var projects = [
		{
			backGround: '../assets/img/projects/project-1.jpg',
			projectName: 'project-1',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe more'
		},{
			backGround: '../assets/img/projects/project-2.jpg',
			projectName: 'project-2',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe more'
		},{
			backGround: '../assets/img/projects/project-3.jpg',
			projectName: 'project-3',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe more'
		},{
			backGround: '../assets/img/projects/project-4.jpg',
			projectName: 'project-4',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe more'
		},{
			backGround: '../assets/img/projects/project-6.jpg',
			projectName: 'project-5',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe more'
		},{
			backGround: '../assets/img/projects/project-5.jpg',
			projectName: 'project-6',
			shortDescr: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, qui.',
			buttonText: 'showe-more'
		}
	]
.main-screen
	header.header
		a(href='#')
			img.logo(src='assets/img/logo.svg')
		nav.nav
			ul.menu
				each item in menu
					li.menu__item
						a.menu__link #{item}
	.panels
		each item in projects
			.panel(style=`background-image: url(${item.backGround})`)
				.panel__content
					h3.project__name= item.projectName
					p.project__descr= item.shortDescr
					a.project__btn= item.buttonText